@use "./variables.scss" as *;

#quartz-body > div.center > div.page-header > header * { font-size: 1.5em; }

#quartz-root.page {
	padding: 20px;
}


.content-meta {				font-size: 0.9em;
							opacity: 80%; 						}

.search-button {			display: inline;
							width: 100%; 						}

.graph-container {			display: box;
							width: flex;
							flex: 2;
							margin-top: 10px;
							margin-bottom: 15px;				}
.graph {					display: box;
							width: flex;
}

.graph h3 {					display: none !important; 			}


.recent-notes {				margin-left: 0px;
							width: flex;
							max-width: 100%;
							flex: 2;							}

.recent-notes h3 {			font-size: 1.3em;
							line-height: 1.6em;
							margin-top: 20px;
							margin-bottom: 10px; 				}

.recent-notes ul {			padding: 0px;
							margin: 0px;						}

.recent-notes ul li {		margin: 0px;
							padding: 0px;						}

.recent-notes ul li h3 {	font-size: 1em;
							line-height: 1em;
							padding: 0;
							margin: 0; 							}

.recent-notes ul li p * {	font-size: 0.8em;
							font-weight: bold;
							line-height: 0.6em;
							color: #67763b;
							margin-bottom: 0;
							margin-top: -4px;
							padding: 0;							}

hr { 						margin-bottom: 10px;
							padding: 0; 						}

footer {
							margin-top: 15px;
							margin-bottom: 15px;
							padding: 0;							}
footer * {					font-size: 0.95em; 
							color: #3b1e42;
							opacity: 100%; 						}
footer *:hover {			color: #a672ff;						}

footer p {					display: none; 						}

body:has(article.homeStyle) .content-meta { display: none; }
body:has(article.homeStyle) h1.article-title { display: none; }